{
  "extends": "airbnb",
  "rules": {
    "max-len": ["warn", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-param-reassign": ["error", { "props": false }],
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "parser": "babel-eslint"
}
